table{
    border: solid 1px black;
    width: 100%;
    border-collapse: collapse;

}

tr{
    height: 20px;
}

form{
    display: flex;
    flex-direction: column;
    width: 200px;
}
button{
    margin: 2px;
}